@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

body {
  opacity: 1;
  background-image: linear-gradient(#2d333a 1.1px, transparent 1.1px),
    linear-gradient(to right, #2d333a 1.1px, #242631 1.1px);
  background-size: 22px 22px;
}

@media screen and (width <= 640px) {
  .sb {
    overflow-x: hidden;
  }
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(37 84 97 / var(--tw-bg-opacity));
}

::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}

::-webkit-scrollbar-corner {
  background: transparent;
}

@layer components {
  .select {
    background-position: 25px, 21px !important;
  }
}
